<div class="inner cover">
  <h1 class="cover-heading">Welcome to my portfolio website</h1>
  <p class="lead">This website will allow you to see what I've accomplished so far in my life and some information to contact me.</p>
  <p class="lead">
    <a href="<%= about_me_path %>" class="btn btn-lg btn-default">To about me</a>
  </p>
</div> 